.cue {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
}

body {
    overflow: hidden;
}

html, body,
.flowplayer {
    width: 100%;
    height:100%;
}

body {
    background-color: #d3edf8;
}
#background,
#background.is-loading {
    background-color: #9cf;
    background-image: url(//cdn.flowplayer.org/202777/210503-snap.jpg);
}
#background-trigger {
    display: none; /* show only when needed */
    position: fixed;
    top: 10px;
    right: 5px;
    background-color: #80bfff;
    color: #fff;
    font-size: 90%;
    padding: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top:-10px;
    left: -220px;
    width: 142%;
    /*height: ; */
}


/*slick adjustments*/
.slick-list,
.slick-track,
.slick-slide{
    height:100%;
}

.slides {
    height:100%;
    width: 100%;
}

.slides section {
    height:100%;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;



}

/*for testing purposes*/
.slides section {
    color: white;
    font-size: 30px;
    font-family:Arial;
}

.slick-slide img {
    display: block;
    height: 60%;
    /* background: rebeccapurple; */
    margin-top: -10%;
}
